.top-traders-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: white;
    width: 90%;
    background: #020713; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: rgba(32, 32, 32, 0.02) 0px 0px 1px, rgba(0, 0, 0, 0.02) 0px 4px 8px, rgba(0, 0, 0, 0.02) 0px 16px 24px, rgba(0, 0, 0, 0.02) 0px 24px 32px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.19);
    border-image: initial;
  }
  
  .top-traders-header {
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 10px;
    background-color: #020713; 
    border-bottom: 1px solid #e0e0e0;
  }
  
  .top-traders-header div {
    width: 20%; /* Adjust the width so each column has the same width */
    /* text-align: left;  */
  }

  
  .trader-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #bebdbd; /* Light grey border for each row */
  }
  
  .trader-enter {
    padding: 5px 10px;
    background-color:#15B296; /* Bright green background for the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  .trader-enter:hover {
    background-color: rgb(15, 124, 117);
  }
  /* Add additional styling as needed */
  