.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .traders-container {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    justify-content: space-evenly; 
    align-items: flex-start; 
  }
  
  .trader-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: white;
    padding: 16px;
    border-radius: 18px;
    width: 450px; 
    background-color: rgba(70, 59, 59, 0.02);
    box-shadow: rgba(32, 32, 32, 0.02) 0px 0px 1px, rgba(0, 0, 0, 0.02) 0px 4px 8px, rgba(0, 0, 0, 0.02) 0px 16px 24px, rgba(0, 0, 0, 0.02) 0px 24px 32px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.19);
    border-image: initial;
    padding: 2rem;
    border-radius: 24px;
  }
  
  .user-icon {
    width: 40px; /* Your icon size */
    height: 40px; /* Your icon size */
  }
  
  .trader-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
  }
  
  .trader-name {
    font-size: 1rem; /* Your font size */
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .amount-managed,
  .apy {
    font-size: 0.8rem; /* Your font size */
    color: #666;
    margin-bottom: 4px;
    color: #fff;

  }
  
  .enter-button {
    background-color: #15B296; /* Your button color */
    color: #fff;
    border: none;
    border-radius: 20px; /* Your border radius */
    padding: 10px 20px;
    cursor: pointer;
    width: 30%;
    align-self: center;
  }
  
  .enter-button:hover {
    background-color: rgb(15, 124, 117); 
  }
 
  .connect-button {
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 18px;
    background-color: #15B296;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .connect-button:hover {
    background-color: rgb(15, 124, 117);
  }